<% layout('layouts/boilerplate')%>

<%- include('../partials/navbar')%>
<%- include('../partials/flash')%>

<div class="col-6 mx-auto">
    <form action="/products" method="post">
        <div class="mb-3">
            <label for="img" class="form-label">Image url</label>
            <input type="text" class="form-control" id="img" name="img" placeholder="image url">
          </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name of product</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name of product">
          </div>
          <div class="mb-3">
            <label for="about" class="form-label">Description</label>
            <input type="text" class="form-control" id="about" name="about" placeholder="description of product">
          </div>
          <button type="submit">submit</button>
    </form>










</div>

</body>
</html>